<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LHJ.DBViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <LHJ.DBViewer.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastDatabase" serializeAs="String">
                <value/>
            </setting>
        </LHJ.DBViewer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
